$bg-color 			: #FFFFFF;
$font-color			: #5E5E5E;
$title-color		: #7DCDCD;
$sub-title-color	: $font-color;
$link-color			: #FFBB02;

$font-family		: 'Open Sans', sans-serif;
$title-font-family	: 'Montserrat', sans-serif;

$menu-font-family	: $title-font-family;
$button-font-family	: $title-font-family;
$menu-link-color	: $font-color;
$menu-hover-color	: $title-color;

$break-large		: 920px;